body {
    background-color: black;
    background-image: url('./img/fundo_neo.jpg');
    background-repeat: repeat-y;
    background-position: right center;
}

table {
    width: 100%;
}


td {
    text-align: center;
}


table img {
    width: 200px;  
    height: 150px; 
    object-fit: cover; 
}

h2 {
    font-family: Arial, sans-serif;
    color: white;
    font-style: italic;
    background-image: url('./img/fundo_matrix.jpg');
    width: 88%;
}

.botao-h2 {
    text-align: right;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: lightgreen;
    text-indent: 50px;
    text-align: justify;
    width: 88%;
}
a:hover{
    text-decoration: underline;
    color: red;
}